{% load markdownify %}
{% for question in questions %}
<div class="card bg-[#C4D7FF] shadow-lg mb-6 min-h-50"
     {% if forloop.last and offset|add:limit < total %}
     hx-get="{% url 'math_quiz:home' %}?offset={{ offset|add:limit }}"
     hx-trigger="revealed"
     hx-swap="afterend"
     hx-indicator="#loading-more"
     {% endif %}>
    <div class="card-body">
        <p class="line-clamp-3">
            {{ question.Question|markdownify }}
        </p>
        <div class="card-actions justify-end mt-4">
            <a href="{% url 'math_quiz:question' question.Id %}" 
               class="btn btn-ghost gap-2" 
               hx-boost="true" 
               hx-indicator=".htmx-indicator">
                Solve
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                </svg>
            </a>
        </div>
    </div>
</div>
{% endfor %}

{% if offset|add:limit < total %}
<div id="loading-more" class="htmx-indicator">
    {% include "partials/question_skeleton.html" %}
    {% include "partials/question_skeleton.html" %}
</div>
{% endif %}